<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Meta -->
    <meta name="description" content="" />
    <meta name="keywords" content="shop, nike, adidas" />
    <meta name="author" content="Ravil Karimov and Dmitry Karasev">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <title>_____D_J_I_N_A_R_O____</title>

    <!-- Styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/avendor-font-styles.css" rel="stylesheet">
    <link href="~/Content/themecss/animate_store.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.carousel_store.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.transitions_store.css" rel="stylesheet">
    <link href="~/Content/default-skin/default-skin_store.css" rel="stylesheet"> 
    <link href="~/Content/avendor_store.css" rel="stylesheet">
    <link href="~/Content/colors/color-default_store.css" rel="stylesheet" title="style1">
    <link href="~/Content/themecss/lightbox_store.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Play:400,200,300,100,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="~/favicon.jpg" rel="shortcut icon">
    <link href="~/Scripts/nouislider/nouislider.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/multi-column-select.css" rel="stylesheet" />

    <script src="~/Scripts/nouislider/nouislider.min.js"></script>
    <!--script src="https://code.jquery.com/jquery-3.1.1.min.js"></script-->
    <!--script async src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <!--script async src="~/Scripts/themejs/jquery.magnific-popup.min.js"></script-->
    <script async src="~/Scripts/nouislider/nouislider.min.js"></script>
    <script src="~/Scripts/store.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/multi-column-select.js"></script>

    
</head>
<body class ="bg-pattern1" data-spy="scroll" data-target=".navbar">

<div id="preloader"></div>

<div class="page-wrapper" id="page-top">

        <!-- Header Container -->
        <div class="header-wrapper">

            <!-- Header Top Container -->
            <div class="header-top">

                <!-- Container -->
                <div class="container">

                    <div class="row">

                        <!-- Left -->
                        <div class="col-md-6 col-sm-6 columns">
                            <div class="header-top-left">
                                <ul class="social-top">
                                    <li><a href="https://vk.com/djinaro" class="ToolTip" title="Вконтакте"><span class="fa fa-vk"></span></a></li>
                                    <li><a href="https://www.instagram.com/djinaro_shop_kazan/" class="ToolTip" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Left -->

                    </div>

                </div>
                <!-- /Container -->

            </div>
            <!-- /Header Top Container -->
            <!-- Header Main Container -->
            <div class="header-main">

                <!-- Container -->
                <div class="container">

                    <!-- Main Navigation & Logo -->
                    <div class="main-navigation">

                        <div class="row">

                            <!-- Main Navigation -->
                            <div class="col-md-12 columns">

                                <nav class="navbar navbar-default gfx-mega nav-left" role="navigation">
                                    <div class="navbar-header">
                                        <a class="navbar-toggle" data-toggle="collapse" data-target="#gfx-collapse"></a>
                                        <div class="logo">
                                            <a href="/store"><img src="~/img/theme/logo.png" alt="Logo" /></a>
                                        </div>
                                    </div>

                                    <div class="collapse navbar-collapse" id="gfx-collapse">
                                        <ul id="menu_nav" class="nav navbar-nav gfx-nav">
                                            <li class="dropdown"><a href="/">Главная</a></li>
                                            <li class="dropdown gfx-mega-fw active" id="1"><a href="/store">Обувь</a></li>
                                            <li class="dropdown"><a href="">Одежда</a></li>
                                            <li class="dropdown"><a href="">Аксессуары</a></li>
                                            <li class="dropdown"><a href="">Акции</a></li>
                                            <li class="dropdown"><a href="/contact">Контакты</a></li>
                                        </ul>
                                    </div>

                                </nav>

                            </div>
                            <!-- /Main Navigation -->

                        </div>

                    </div>
                    <!-- /Main Navigation & Logo -->

                </div>
                <!-- /Container -->

            </div>
            <!-- /Header Main Container -->

        </div>
        <!-- /Header Container -->

        <!-- Main Container -->
        <div class="main-wrapper">

            <!-- Container -->
            <div class="container content-with-sidebar">
                <div class="col-sm-12">
                    <div class="row">
                        <!-- Поиск -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-btn"><button class="btn-sm btn-primary" type="button" onclick="Djinaro.filterByGoods();"><i class="fa fa-search"></i></button></span>
                                    <input id="searchinput" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Поиск -->
                    </div>
                    <div class="row">
                        <!-- Content -->
                        <div class="col-sm-12">

                            <!--Горизонтальный бар -->
                            <div class="container">

                                <div class="row">
                                    <div class="col-xs-3">
                                        <div id="selectcontrolbrand">
                                            <select name="brand">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div id="selectcontrolsize">
                                            <select name="size">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div id="selectcontrolseason">
                                            <select name="season">
                                                <option>Лето</option>
                                                <option>Зима</option>
                                                <option>Демисезон</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="accordion accordion-alt panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse">ЦЕНА</a>
                                                    </h5>
                                                </div>
                                                <div id="collapse" class="panel-collapse collapsed collapse" style="position: absolute;z-index: 150;">
                                                    <div class="panel-body">
                                                        <div id="html5" class="noUi-target noUi-ltr noUi-horizontal noUi-background" onchange=" Djinaro.filterByGoods()"></div>
                                                        <div class="white-space space-xsmall"></div>
                                                        <div class="row">
                                                            <input class="form-control" onchange=" Djinaro.filterByGoods()" type="number" min="0" max="10000" step="500" id="input-number1">
                                                            <span style="line-height: 35px; font-weight: bold; color: #000; width:10%">—</span>
                                                            <input class="form-control" onchange=" Djinaro.filterByGoods()" type="number" min="0" max="10000" step="500" id="input-number2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Горизантальный бар -->
                            <div class="white-space space-xsmall"></div>

                            <!-- Товары -->
                            <div class="container" id="goods">
                            </div>
                            <!-- Товары -->
                            <!-- Pagination -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-center" id="paging">
                                    </div>
                                </div>
                            </div>
                            <!-- /Pagination -->

                            <div class="white-space space-medium"></div>
                        </div>
                        <!-- /Content -->

                    </div>

                </div>
            <!-- /Container -->

        </div>
        <!-- /Main Container -->
        
        <!-- Footer Container -->
        <div class="footer-wrapper">

        <!-- Footer Top Container -->
        <div class="footer-top">

            <!-- Google Map -->
            <a class="gmap-button">НАЙТИ НАС НА КАРТЕ</a>
            <div class="gmap-wrapper">
                <div id="google-map-footer" style="position: relative; overflow: hidden;">
                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                        <div class="gm-err-container">
                            <div class="gm-err-content">
                                <div class="gm-err-icon">
                                    <img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;">
                                </div>
                                <div class="gm-err-title">Упс! Что-то пошло не так.
                                </div>
                                <div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Google Map -->

        </div>
        <!-- /Footer Top Container -->
        <!-- Footer Bottom Container -->
        <div class="footer-bottom">

            <!-- Container -->
            <div class="container">

                <div class="row">
                    <!-- Footer Menu -->
                    <div class="col-md-12 col-sm-12 columns">
                        <div class="menu-footer">
                            <ul class="list-inline">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/store">Обувь</a></li>
                                <li><a href="">Одежда</a></li>
                                <li><a href="">Аксессуары</a></li>
                                <li><a href="">Акции</a></li>
                                <li><a href="/contact">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Footer Menu -->
                    <!-- Copyright -->
                    <div class="col-md-12 col-sm-12 columns">
                        <div class="copyright">
                            <p>© 2017 - DJINARO | Все права защищены</p>
                        </div>
                    </div>
                    <!-- /Copyright -->
                    <!-- Footer Social -->
                    <div class="col-md-12 col-sm-12 columns">
                        <div class="social-footer">
                            <ul class="list-inline social-list">
                                <li><a href="https://vk.com/djinaro" class="ToolTip" title="Вконтакте"><span class="fa fa-vk"></span></a></li>
                                <li><a href="https://www.instagram.com/djinaro_shop_kazan/" class="ToolTip" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Footer Social -->
                </div>

            </div>
            <!-- /Container -->

        </div>
        <!-- /Footer Bottom Container -->

</div>
        <!-- /Footer Container -->

    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/themejs/jquery.countdown_store.js" type="text/javascript"></script>
    <!-- Preloader -->
    <script src="~/Scripts/themejs/jquery.queryloader2.min.js" type="text/javascript"></script>
    <!-- Smooth Scroll -->
    <script src="~/Scripts/themejs/SmoothScroll_store.js" type="text/javascript"></script>
    <!-- Stick On Scroll -->
    <script src="~/Scripts/themejs/jquery.stickOnScroll_store.js" type="text/javascript"></script>
    <!-- Scrolling Smooth to section - requires jQuery Easing plugin -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src="~/Scripts/revolutionslider/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Scripts/revolutionslider/jquery.themepunch.revolution.min.js"></script>
    <!-- LivIcons -->
    <script src="~/Scripts/livicons/livicons-1.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/livicons/raphael-min.js" type="text/javascript"></script>
    <!-- Portfolio -->
    <script src="~/Scripts/themejs/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/Scripts/themejs/jquery.colio.min.js" type="text/javascript"></script>
    <!-- Parallax -->
    <script src="~/Scripts/themejs/jquery.stellar.min.js" type="text/javascript"></script>
    <!-- Carousel -->
    <script src="~/Scripts/owl-carousel/owl.carousel_store.js" type="text/javascript"></script>
    <!-- Counters -->
    <script src="~/Scripts/themejs/jquery.countTo_store.js" type="text/javascript"></script>
    <!-- Tooltips -->
    <script src="~/Scripts/themejs/jQuery.Opie.Tooltip.min.js" type="text/javascript"></script>
    <!-- Animation Viewport -->
    <script src="~/Scripts/themejs/jquery.waypoints.min.js" type="text/javascript"></script>
    <!-- Pie Chart -->
    <script src="~/Scripts/themejs/jquery.easypiechart.min_store.js" type="text/javascript"></script>
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBny2ZQDRtvp935j3dwD5BZM9NGEpzFp0A&amp"></script>
        
    <script src="~/Scripts/themejs/application_store.js"></script>
    <script>
        var html5Slider = document.getElementById('html5');

        noUiSlider.create(html5Slider, {
            start: [1500, 5000],
            connect: true,
            range: {
                'min': 0,
                'max': 10000
            }
        });
    </script>
    <script>
        var inputNumber2 = document.getElementById('input-number2');
        var inputNumber1 = document.getElementById('input-number1');

        html5Slider.noUiSlider.on('update', function (values, handle) {

            var value = values[handle];

            if (handle) {
                inputNumber2.value = Math.round(value);
            } else {
                inputNumber1.value = Math.round(value);
            }
        });

        inputNumber2.addEventListener('change', function () {
            html5Slider.noUiSlider.set([null, this.value]);
        });
        inputNumber1.addEventListener('change', function () {
            html5Slider.noUiSlider.set([this.value, null]);
        });
    </script>
<script>
    jQuery(function() {
        var cache = {},
            lastXhr,
            list_search = [];
        var search = jQuery("#searchinput").autocomplete({
            minLength: 1,
            maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
            width: 300, // Ширина списка
            zIndex: 9999, // z-index списка
            deferRequestBy: 0,
            source: function(request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }
                lastXhr = jQuery.getJSON("store/search", request, function(data, status, xhr) {
                    cache[term] = data;
                    if (xhr === lastXhr) {
                        response(data);
                    }
                });
            },
            select: function(event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
                //store in session
                document.valueSelectedForAutocomplete = list_search.toString() + value;
            }
        });

        jQuery("#selectcontrolbrand, #selectcontrolsize, #selectcontrolseason, #selectcontrolprice, .panel-group")
            .on('mouseover mouseout', function(e) {
                Djinaro.ClassOpen(e);
            });

        jQuery(function() {
            Djinaro.getAllBrands();
            Djinaro.getAllSizes();
        });
    });

</script>
    <script>
        jQuery(function ($) {
            $('#selectcontrolseason').MultiColumnSelect({
                multiple: true,              // Single or Multiple Select- Default Single
                useOptionText: true,               // Use text from option. Use false if you plan to use images
                hideselect: true,               // Hide Original Select Control
                openmenuClass: 'mcs-open',         // Toggle Open Button Class
                openmenuText: 'СЕЗОН', // Text for button
                openclass: 'open',             // Class added to Toggle button on open
                containerClass: 'mcs-container',    // Class of parent container
                itemClass: 'mcs-item',         // Class of menu items
                idprefix: null,                        // Assign as ID to items eg 'item-' = #item-1, #item-2, #item-3...
                duration: 200,                         //Toggle Height duration
                onOpen: function () { },
                onClose: function () { },
                onItemSelect: function () { Djinaro.filterByGoods(); }
            });
        });
    </script>
    <script>
        jQuery(function($) {
            $('#selectcontrolprice').MultiColumnSelect({
                multiple: true, // Single or Multiple Select- Default Single
                useOptionText: true, // Use text from option. Use false if you plan to use images
                hideselect: true, // Hide Original Select Control
                openmenuClass: 'mcs-open', // Toggle Open Button Class
                openmenuText: 'ЦЕНА', // Text for button
                openclass: 'open', // Class added to Toggle button on open
                containerClass: 'mcs-container', // Class of parent container
                itemClass: 'mcs-item', // Class of menu items
                idprefix: null, // Assign as ID to items eg 'item-' = #item-1, #item-2, #item-3...
                duration: 200, //Toggle Height duration
                onOpen: function() {},
                onClose: function() {},
                onItemSelect: function() { }
            });
        });
    </script>
    <script>
        Djinaro.filterByGoods();
    </script>
</body>
</html>
