<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Meta -->
    <meta name="description" content="" />
    <meta name="keywords" content="shop, nike, adidas" />
    <meta name="author" content="Ravil Karimov and Dmitry Karasev">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <title>_____D_J_I_N_A_R_O____</title>

    <script src="~/Scripts/store.js"></script>

    <!-- Styles -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/avendor-font-styles.css" rel="stylesheet">
    <!--<link href="~/Content/revolutionslider/settings.css" rel="stylesheet" type="text/css" media="screen">-->
    <link href="~/Content/themecss/animate.css" rel="stylesheet">
    <link href="~/Content/themecss/lightbox.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- Core CSS for photoswipe file -->
    <link href="~/Content/photoswipe.css" rel="stylesheet">
    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
    <link href="~/Content/default-skin/default-skin.css" rel="stylesheet"> 
    <link href="~/Content/avendor-dark.css" rel="stylesheet">
    <link href="~/Content/colors/color-default.css" rel="stylesheet" title="style1">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link href="~/favicon.jpg" rel="shortcut icon">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

</head>
<body class ="bg-pattern1" data-spy="scroll" data-target=".navbar">
    
    <div id="preloader"></div>

    <div class="page-wrapper" id="page-top">

        <!-- Header Container -->
        <div class="header-wrapper">

            <!-- Header Top Container -->
            <div class="header-top">

                <!-- Container -->
                <div class="container">

                    <div class="row">

                        <!-- Left -->
                        <div class="col-md-6 col-sm-6 columns">
                            <div class="header-top-left">
                                <ul class="social-top">
                                    <li><a href="" class="ToolTip" title="Вконтакте"><span class="fa fa-vk"></span></a></li>
                                    <li><a href="" class="ToolTip" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Left -->

                    </div>

                </div>
                <!-- /Container -->

            </div>
            <!-- /Header Top Container -->
            <!-- Header Main Container -->
            <div class="header-main">

                <!-- Container -->
                <div class="container">

                    <!-- Main Navigation & Logo -->
                    <div class="main-navigation">

                        <div class="row">

                            <!-- Main Navigation -->
                            <div class="col-md-12 columns">

                                <nav class="navbar navbar-default gfx-mega nav-left" role="navigation">

                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <a class="navbar-toggle" data-toggle="collapse" data-target="#gfx-collapse"></a>
                                        <div class="logo">
                                            <a href="index.html"><img src="~/img/theme/logo.png" alt="Logo"/></a>
                                        </div>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="gfx-collapse">
                                        <ul class="nav navbar-nav gfx-nav">
                                            <li class="dropdown"><a href="">Главная</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Обувь <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="">Мужская</a></li>
                                                    <li><a href="">Женская</a></li>
                                                    <li><a href="">Универсальная</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Одежда <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="">Мужская</a></li>
                                                    <li><a href="">Женская</a></li>
                                                    <li><a href="">Универсальная</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="">Аксессуары</a></li>
                                            <li class="dropdown"><a href="">Акции</a></li>
                                            <li class="dropdown"><a href="">Контакты</a></li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->

                                </nav>

                            </div>
                            <!-- /Main Navigation -->

                        </div>

                    </div>
                    <!-- /Main Navigation & Logo -->

                </div>
                <!-- /Container -->

            </div>
            <!-- /Header Main Container -->

        </div>
        <!-- /Header Container -->

        <!-- Main Wrapper Header -->
        <div class="main-wrapper-header fancy-header dark-header parallax parallax-shop" data-stellar-background-ratio="0.4">

            <div class="bg-overlay bg-overlay-dark bg-color-default"></div>

            <div class="container">

                <div class="row">
                    <div class="col-sm-12 columns">
                        <div class="page-title">
                            <h2>DJINARO SHOP</h2>
                        </div>
                        <div class="breadcrumbs-wrapper">
                            <ol class="breadcrumb">
                                <li><a href="#">Главная</a></li>
                                <li class="active">Магазин</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Main Wrapper Header -->

        <!-- Main Container -->
        <div class="main-wrapper">

            <!-- Container -->
            <div class="container content-with-sidebar">
                <div class="row">

                    <!-- Content -->
                    <div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3 columns">
                        <div class="white-space space-big"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="shop-filters">
                                    <form>
                                        <select class="form-control ordering">
                                            <option selected="selected">По умолчанию</option>
                                            <option value="price">По цене: от низкой к более высокой</option>
                                            <option value="price-desc">По цене: от высокой к менее низкой</option>
                                        </select>
                                        <label class="show-results">Отображено 1–18 из n результатов</label>
                                    </form>
                                </div>
                                <div class="white-space space-small"></div>
                            </div>
                        </div>
                        <!-- Root element of PhotoSwipe. Must have class pswp. -->
                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                            <!-- Background of PhotoSwipe.
                            It's a separate element as animating opacity is faster than rgba(). -->
                            <div class="pswp__bg"></div>

                            <!-- Slides wrapper with overflow:hidden. -->
                            <div class="pswp__scroll-wrap">

                                <!-- Container that holds slides.
                                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                Don't modify these 3 pswp__item elements, data is added later on. -->
                                <div class="pswp__container">
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                </div>

                                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                <div class="pswp__ui pswp__ui--hidden">

                                    <div class="pswp__top-bar">

                                        <!--  Controls are self-explanatory. Order can be changed. -->

                                        <div class="pswp__counter"></div>

                                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                                        <button class="pswp__button pswp__button--share" title="Share"></button>

                                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                        <!-- element will get class pswp__preloader--active when preloader is running -->
                                        <div class="pswp__preloader">
                                            <div class="pswp__preloader__icn">
                                                <div class="pswp__preloader__cut">
                                                    <div class="pswp__preloader__donut"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                        <div class="pswp__share-tooltip"></div>
                                    </div>

                                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                                    <div class="pswp__caption">
                                        <div class="pswp__caption__center"></div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="container" id="goods">
                            <!--Место для товаров-->
                            <script>Djinaro.getShoes(1, 0, 1);</script>
                        </div>
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center" id="paging">
                                    <!--Место для пэйджинга-->
                                    <script>Djinaro.getShoesCount(1, 0);</script>
                                </div>
                            </div>
                        </div>
                        <!-- /Pagination -->

                        <div class="white-space space-medium"></div>
                    </div>
                    <!-- /Content -->
                    <!-- Sidebar -->
                    <div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 columns sidebar sidebar-left">
                        <div class="white-space space-big"></div>

                        <div class="sidebar-content">
                            <div class="sidebar-widget" id="groups">
                                <!--Группы товаров-->
                                <script>Djinaro.getAllGroups();</script>
                            </div>
                            <div class="sidebar-widget" id="sizes">
                                <!--Размеры товаров-->
                                <script>Djinaro.getAllSizes();</script>
                            </div>

                        </div>

                        <div class="white-space space-big"></div>
                    </div>
                    <!-- /Sidebar -->

                </div>
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Container -->

    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/themejs/jquery.countdown.js" type="text/javascript"></script>
    <!-- Preloader -->
    <script src="~/Scripts/themejs/jquery.queryloader2.min.js" type="text/javascript"></script>
    <!-- Smooth Scroll -->
    <script src="~/Scripts/themejs/SmoothScroll.js" type="text/javascript"></script>
    <!-- Stick On Scroll -->
    <script src="~/Scripts/themejs/jquery.stickOnScroll.js" type="text/javascript"></script>
    <!-- Scrolling Smooth to section - requires jQuery Easing plugin -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <!--<script src="~/Scripts/revolutionslider/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Scripts/revolutionslider/jquery.themepunch.revolution.min.js"></script>-->
    <!-- LivIcons -->
    <script src="~/Scripts/livicons/livicons-1.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/livicons/raphael-min.js" type="text/javascript"></script>
    <!-- Portfolio -->
    <script src="~/Scripts/themejs/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="~/Scripts/themejs/jquery.colio.min.js" type="text/javascript"></script>
    <!-- Parallax -->
    <script src="~/Scripts/themejs/jquery.stellar.min.js" type="text/javascript"></script>
    <!-- Carousel -->
    <script src="~/Scripts/owl-carousel/owl.carousel.js" type="text/javascript"></script>
    <!-- Counters -->
    <script src="~/Scripts/themejs/jquery.countTo.js" type="text/javascript"></script>
    <!-- Lightbox -->
    <script src="~/Scripts/themejs/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <!-- Tooltips -->
    <script src="~/Scripts/themejs/jQuery.Opie.Tooltip.min.js" type="text/javascript"></script>
    <!-- Animation Viewport -->
    <script src="~/Scripts/themejs/jquery.waypoints.min.js" type="text/javascript"></script>
    <!-- Pie Chart -->
        
    <script src="~/Scripts/themejs/jquery.easypiechart.min.js" type="text/javascript"></script>
        
    <!-- Google Maps -->
        
    <!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></!--script>
              <!-- Load Scripts -->
        
    <script src="~/Scripts/themejs/application.js"></script>
        
        <!-- Core JS file -->
    <script src="~/Scripts/photoswipe.min.js"></script>

        <!-- UI JS file -->
    <script src="~/Scripts/photoswipe-ui-default.min.js"></script>
    <script src="~/Scripts/open_photoswipe.js"></script>
</body>
</html>
